{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
      <div class="row g-2">
        <div class="col-md-10">
          <div class="row g-2">
            <form class="searchform d-flex" id="searchForm" method="GET" action="{% url 'web:search' %}">
                <div class="col-md-4">
                  <select class="form-select border-0" name="category">
                    <option selected>Category</option>
                    {% for category in categories %}
                      <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-select border-0" name="location">
                    <option selected>Location</option>
                    {% for location in locations %}
                      <option value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-dark border-0 w-100" type="submit">Search</button>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'web:search' %}" class="btn btn-secondary border-0 w-100">Clear</a>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="search_total mx-auto" id="search_total">
        {% if job_list %}
    {% for object in object_list %}
    <div class="job-item p-4 mb-4">
      <div class="row g-4">
        
        <div class="col-sm-12 col-md-8 d-flex align-items-center">
            <img class="flex-shrink-0 img-fluid border rounded" src="{{ object.image.url }}" alt style="width: 80px; height: 80px;" />
            <div class="text-start ps-4">
              <h5 class="mb-3">{{ object.name }}</h5>
              <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ object.location }}</span>
              <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ object.jobtype }}</span>
              <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>${{ object.salary }}</span>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
            <div class="d-flex mb-3">
              <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
              <a class="btn btn-primary" href="{% url 'web:job-detail' object.id %}">Apply Now</a>
              
            </div>
            <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>{{ object.date_and_time }}</small>
          </div>
        
      </div>
    </div>

    {% endfor %}
    {% else %}
    <p>No results found.</p>
    {% endif %}
</div>

{% endblock %}

{% block javascript %}
<script>
window.addEventListener('load', function() {
  const searchForm = document.querySelector('#searchForm');

  if (searchForm) {
    searchForm.reset();
  }
});
</script>
{% endblock %}